body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 20px;
}

a {
  color: rgb(5, 65, 10);
}

a:hover {
  color: green;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
}

.perfil img{
  width: 100%;
  border-radius: 30rem;
  height: 300px;
  width: 300px;
}

.section1 {
  margin-bottom: 30px;
  background-color: rgb(193, 221, 193);
  border-radius: 15px;
  padding: 20px;
}

.section2 {
  margin-bottom: 30px;
  background-color: rgb(193, 221, 193);
  border-radius: 15px;
  padding: 20px;
}

.section h3 {
  margin-bottom: 10px;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section ul li {
  margin-bottom: 5px;
  color: #666;
}

.stitulo{
  color: green;
}

i {
  margin: 8px;
  color: green;
}

.titulo{
  color: green;
}
